.weather-app {
  max-width: 800px;
  margin: 30 auto;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.col-12 {
  font-size: 15px;
  top: 240px;
  left: 20px;
  line-height: 20px;
  font-weight: bold;
}

.col-4 {
  list-style: none;
  box-sizing: border-box;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.form-group {
  width: 300px;
  height: 150px;
  padding: 20px 20px;
  margin: 0 auto;
}

.form-inline {
  position: relative;
  top: 50px;
  left: 15px;
}

.emoji {
  display: grid;
  font-size: 45px;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.li {
  list-style: none;
}

.search-form {
  margin-bottom: 20px;
  margin: 0 auto;
}

.weather-forecast img {
  display: block;

  margin: 0 auto;
  height: 48px;
  width: 48px;
}

button.submitLocation {
  display: block;
  margin: 0 auto;
  background: #007bff;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-color: transparent;
  box-sizing: border-box transition all 200ms ease;
  opacity: 1;
}

button.submitLocation:hover {
  cursor: pointer;
  background: #0069d9;
}

.footer {
  text-align: center;
  box-sizing: border-box;
  position: bottom;
}
