.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  margin-bottom: 10px;
}

.weather-app {
  max-width: 800px;
  margin: 30 auto;
  padding: 40px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.col-2 {
  text-align: center;
}

.col-12 {
  font-size: 15px;
  position: bottom;
  text-align: center;
  left: 20px;
  line-height: 20px;
  font-weight: bold;
}

.condition {
  list-style-type: none;
}

.col-4 {
  list-style: none;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.form-group {
  width: 300px;
  height: 150px;
  padding: 20px 20px;
  margin: 0 auto;
}

.form-inline {
  position: relative;
  top: 50px;
  left: 15px;
}

.emoji {
  display: grid;
  font-size: 45px;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.img {
  vertical-align: middle;
  border-style: none;
}

.search-form {
  margin-bottom: 20px;
  margin: 0 auto;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

button.submitLocation {
  display: block;
  margin: 0 auto;
  background: #007bff;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-color: transparent;
  box-sizing: border-box transition all 200ms ease;
  opacity: 1;
}

button.submitLocation:hover {
  cursor: pointer;
  background: #0069d9;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
